@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,800i&display=swap');
@import './mixin.scss';

$pie-color: #dc58a2;
$bg-default: #9F7C57;
$pie-size: 150px;
$donut-size: 60px;

$red: #F8A64A;
$green: #00B48C;
$blue: #1C92CF;
$orange: #FFB802;
$yellow: #FFFF03;
$dark-yellow: #f8DA00;
$initialTextColor: #000;

.donutContainer {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    .circle {
        position: relative;
        width: $pie-size;
        height: $pie-size;
        border-radius: 50%;
        margin-right: 20px;
        &:before, &:after{
            content: "";
            display: block;
        }
        &:before {
            margin-left: 50%;
            height: 100%;
            transform-origin: left;
            border-radius: 0 100% 100% 0 / 50%;
        }
        &:after {
            @include position-center();
            border-radius: 50%;
            width: $pie-size - $donut-size;
            height: $pie-size - $donut-size;
            z-index: 10;
        }
    }
    .details {
        h1, h2 {
            margin: 0;
            padding: 0;
            color: $initialTextColor;
            letter-spacing: 0.16px;
        }
        h2 {
            font: 700 16px/22px 'Open Sans';
            
        }
        h1 {
            font: 900 30px/41px 'Open Sans';
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 13px;
            font-weight: 600;
            li {
                font-family: 'Open sans';
                display: flex;
                margin: 10px 0;
                align-items: center;
                &.indicator {
                    &:before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        display: block;
                        border-radius: 100%;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}