@mixin horizontal-gradient( $start-color, $end-color) {
	background-image: $start-color;
}

@mixin position-center() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

@mixin translateX($x) {
    transform: translateX($x);
  }
  
  @mixin rotate($degrees) {
    transform: rotate($degrees);
  }