@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,800i&display=swap");
.donutContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center; }
  .donutContainer .circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px; }
    .donutContainer .circle:before, .donutContainer .circle:after {
      content: "";
      display: block; }
    .donutContainer .circle:before {
      margin-left: 50%;
      height: 100%;
      transform-origin: left;
      border-radius: 0 100% 100% 0 / 50%; }
    .donutContainer .circle:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      z-index: 10; }
  .donutContainer .details h1, .donutContainer .details h2 {
    margin: 0;
    padding: 0;
    color: #000;
    letter-spacing: 0.16px; }
  .donutContainer .details h2 {
    font: 700 16px/22px 'Open Sans'; }
  .donutContainer .details h1 {
    font: 900 30px/41px 'Open Sans'; }
  .donutContainer .details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 600; }
    .donutContainer .details ul li {
      font-family: 'Open sans';
      display: flex;
      margin: 10px 0;
      align-items: center; }
      .donutContainer .details ul li.indicator:before {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 100%;
        margin-right: 10px; }
